@if (Text is not null)
{
    <div class="row my-4">
        <div class="col-6">
            <div class="card d-flex mt-3 border-warning">
                <div class="card-header text-dark bg-warning">
                    Not Found
                </div>
                <div class="card-body">
                    @Text
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] 
    public string? Text { get; set; }
}
