@page "/create-image-edit"

@inherits CreateImageEditPage

<PageTitle>Cledev.OpenAI - Create Image Edit</PageTitle>

<h1 class="pb-3 mb-4 border-bottom">Images</h1>

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link" href="/create-image">Create Image</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Create Image Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/create-image-variation">Create Image Variation</a>
    </li>
</ul>

<p class="mb-4">Creates an edited or extended image given an original image and a prompt.</p>

<EditForm Model="Request" OnValidSubmit="OnSubmitAsync">
    <div class="mb-3">
        <label for="Image" class="form-label">Select the image to edit</label>
        <InputFile id="Image" OnChange="OnInputFileForImageChange" class="form-control"></InputFile>
    </div>
    <div class="mb-3">
        <label for="Mask" class="form-label">Select a mask <span class="fst-italic">(Optional)</span></label>
        <InputFile id="Mask" OnChange="OnInputFileForMaskChange" class="form-control"></InputFile>
    </div>
    <div class="mb-3">
        <label for="Prompt" class="form-label">Prompt</label>
        <InputText id="Prompt" @bind-Value="Request.Prompt" MaxBufferSize="@(4*1024)" class="form-control" />
    </div>

    <ImageOptions Request="Request" Sizes="Sizes" Formats="Formats"></ImageOptions>

    @if (IsLoading)
    {
        <button class="btn btn-primary text-nowrap" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Creating Image Edit...
        </button>
        <button type="button" class="btn btn-outline-secondary" disabled>Options</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Create Image Edit</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#optionsModal">Options</button>
    }
</EditForm>

@if (Response is not null && Error is null)
{
    <h4 class="mt-3">Response</h4>

    @foreach (var image in Images)
    {
        <img src="@image" alt="@Request.Prompt" class="mb-3 border" />
        <literal>&nbsp;</literal>
    }
}
        
<Error Model="Error"></Error>
