@using Cledev.OpenAI.V1.Contracts.Images

@if (Request is not null)
{
    <div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optionsModalLabel">Options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="N" class="col-sm-5 col-form-label">
                            <i class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" title="Optional (Defaults to 1). The number of images to generate. Must be between 1 and 10."></i>
                            N
                        </label>
                        <div class="col-sm-7">
                            <InputNumber id="N" @bind-Value="Request.N" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="Size" class="col-sm-5 col-form-label">
                            <i class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" title="Optional (Defaults to 1024x1024). The size of the generated images. Must be one of 256x256, 512x512, or 1024x1024."></i>
                            Size
                        </label>
                        <div class="col-sm-7">
                            <InputSelect id="Size" @bind-Value="Request.Size" class="form-select">
                                @foreach (var item in Sizes)
                                {
                                    <option value="@item">@item</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="ResponseFormat" class="col-sm-5 col-form-label">
                            <i class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" title="Optional (Defaults to url). The format in which the generated images are returned. Must be one of url or b64_json."></i>
                            Response Format
                        </label>
                        <div class="col-sm-7">
                            <InputSelect id="ResponseFormat" @bind-Value="Request.ResponseFormat" class="form-select">
                                @foreach (var item in Formats)
                                {
                                    <option value="@item">@item</option>
                                }
                            </InputSelect>
                        </div>
                    </div>
                    <div class="row">
                        <label for="User" class="col-sm-5 col-form-label">
                            <i class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" title="Optional. A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse."></i>
                            User
                        </label>
                        <div class="col-sm-7">
                            <InputText id="User" @bind-Value="Request.User" class="form-control" r />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public CreateImageRequestBase? Request { get; set; }
    [Parameter] public IList<string> Sizes { get; set; } = new List<string>();
    [Parameter] public IList<string> Formats { get; set; } = new List<string>();
}
