@page "/completions"

@inherits CompletionsPage

<PageTitle>Cledev.OpenAI - Completions</PageTitle>

<h1>Completions <span class="small">(Work In Progress)</span></h1>

<EditForm Model="Model.Request" OnValidSubmit="OnSubmitAsync">
    <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <InputSelect id="model" @bind-Value="Model.Request.Model" class="form-select">
            @foreach (var item in Model.CompletionModels)
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="prompt" class="form-label">Prompt</label>
        <InputText id="prompt" @bind-Value="Model.Request.Prompt" class="form-control" />
    </div>
    
    @if (IsLoading)
    {
        <button class="btn btn-primary text-nowrap" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Creating Completion...
        </button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Create Completion</button>
    }
</EditForm>

@*@if (IsLoading)
{
    <div class="mt-3">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
}*@

@if (Response is not null)
{
    <div class="mt-3">
        @Response.Choices[0].Text;
    </div>
}

@*<form>
    <div class="mb-3">
        <label for="prompt" class="form-label">Prompt</label>
        <input type="text" class="form-control" id="prompt" aria-describedby="promptHelp">
        <div id="promptHelp" class="form-text">
            The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>*@
